{% extends 'base.html' %}
{% block content %}
    {% load mathfilters %}
    <p>Topic: {{ topic }}</p>
    <p>Description: {{ topic.description }}</p>
    <p>Read time: {{ topic.text|length|add:999|div:1000|floatformat:0 }} min read</p>
    <img src="{{ topic.preview.url }}">
    <p>Owner:
        {% if topic.owner %}
            <a href="{% url 'user_profile' topic.owner.id %}">
                {{ topic.owner }}
            </a>
        {% else %}
            Unknown
        {% endif %}
    </p>
    <p>Date_added: {{ topic.date_added }}</p>
    <p>Tags:</p>
    <ul>
        {% for tag in topic.tags.all %}
            <li>
                <p>{{ tag.name }}</p>
            </li>
        {% endfor %}
    </ul>
    <p>{{ topic.text }}</p>
    <p>{{ topic.rating }}</p>
    <form action="{% url 'like_topic' topic.id %}" method="POST">
        {% csrf_token %}
        {% if request.user in topic.likes.all %}
            <button type="submit" class="btn btn-primary">Liked</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Like</button>
        {% endif %}
    </form>
    {% if request.user.id == topic.owner_id %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="preview">
            <input type="submit" value="Изменить превью">
        </form>
    {% endif %}
    <p>Entries:</p>
    <p>
        <a href="{% url 'new_entry' topic.id %}">Add new entry</a>
    </p>
    <ul>
        {% for entry in entries %}
            <li>
                <p>{{ entry.date_added|date:'M d, Y H:i' }}</p>
                <p>{{ entry.text|linebreaks }}</p>
                <p>
                    <a href="{% url 'edit_entry' entry.id %}">edit entry</a>
                </p>
            </li>
        {% empty %}
            <li>
                There are no entries for this topic yet
            </li>
        {% endfor %}
    </ul>
{% endblock content %}
