{% extends 'base.html' %}
{% block content %}
    <p>Страница пользователя {{ user_profile.user.username }}</p>

    <!-- Отображение текущей фотографии профиля -->
    <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">

    <!-- Форма для загрузки новой фотографии -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="profile_picture">
        <input type="submit" value="Загрузить">
    </form>

    <p>Гайды:</p>
    {% for topic in user_profile.user.topic_set.all %}
        <a href="{% url 'topic' topic.id %}">{{ topic.title }}</a>
    {% empty %}
        <p>No topics found.</p>
    {% endfor %}
{% endblock content %}
